#### Source : https://morioh.com/p/2e3eecf766fb?f=5c21fb01c16e2556b555ab32

### 1. Python iterable tricks.

In [1]:
#Creating a sequence of numbers (zero to ten with skips).
range(0,10,2)

range(0, 10, 2)

In [3]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [8]:
#Summing a sequence of numbers (calculating the sum of zero to ten with skips).
l = range(0,10,1)
sum(l)

45

In [9]:
# Checking whether any element in the sequence is Truthful (checking whether any elements between zero and ten with skips are even).
any(a % 2==0 for a in range(0,10,2))

True

In [10]:
[a % 2==0 for a in range(0,10,1)]

[True, False, True, False, True, False, True, False, True, False]

In [13]:
# Checking whether all elements in the sequence are Truthful (checking whether all elements between zero and ten with skips are even).
all(a % 2==0 for a in range(0,10,2))

True

In [14]:
# Cumulative summing a sequence of numbers (calculating the cumulative sum of zero to ten with skips).
import numpy as np
res = list(np.cumsum(range(0,10,2)))
res

[0, 2, 6, 12, 20]

In [15]:
# Given each iterable we construct a tuple by adding an index.
a = ['Hello', 'world', '!']
list(enumerate(a))

[(0, 'Hello'), (1, 'world'), (2, '!')]

In [18]:
#Concatenating iterable to a single string.
a = ["python","really", "rocks"]
" ".join(a)

'python really rocks'

In [21]:
# Combining two iterable of tuples or pivot nested iterables.
a = [1, 2, 3]
b = ['a', 'b', 'c']
z = zip(a, b)
# print(list(z))

# Pivoting list of tuples
print(list(zip(*z)))

[(1, 2, 3), ('a', 'b', 'c')]

In [23]:
#Getting min/max from iterable (with/without specific function).
a = [1, 2, -3]
print(max(a))

print(min(a))

max(a,key=abs)

2
-3

-3

In [25]:
# Getting sorted iterable (can sort by “compare” function).
a = [1, 2, -3]
print(sorted(a))

sorted(a,key=abs)

[-3, 1, 2]

[1, 2, -3]

In [26]:
# Splitting a single string to list.
s = "a,b,c"
s.split(",")

['a', 'b', 'c']

In [28]:
# Initializing a list filled with some repetitive number.
# x = [1,1,1,1,1,1,1,1,1,1]
[1]* 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [29]:
print(['a','b']*5)

['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

In [30]:
# Merging/Upserting two dictionaries.
a = {"a":1, "b":1}
b = {"b":2, "c":1}
a.update(b)
a

{'a': 1, 'b': 2, 'c': 1}

In [34]:
# Naming and saving slices of iterables.
a = [0, 1, 2, 3, 4, 5]
LASTTHREE = slice(-3, None)
print(LASTTHREE)

a[LASTTHREE]

slice(-3, None, None)

[3, 4, 5]

In [33]:
a[-3:-1]

[3, 4]

In [35]:
# Finding the index of an item in a list.
a = ["foo", "bar", "baz"]
a.index("bar")

1

In [44]:
# Finding the index of the min/max item in an iterable.
a = [1, 2, 3, 1,1]
min(enumerate(a),key=lambda x: x[1])[0]

0

In [39]:
list(enumerate(a))

[(0, 2), (1, 3), (2, 1)]

In [51]:
# Rotating iterable by k elements.
a = [1, 2, 3, 4]
k = 2
a[-k:] + a[:-k]

[3, 4, 1, 2]

In [48]:
a[:-2]

[1, 2]

In [54]:
# Removing useless characters on the end/start/both of your string.
name = "//George//"
print(name.strip("/"))
print(name.rstrip("/"))
print(name.lstrip("/"))

George
//George

In [57]:
name = "  George  "
print(name.strip())

George

In [56]:
name

'  George  '

In [ ]:
input().strip().split()

In [58]:
# Reversing an iterable wit order (string, list etc).
# Reversing string
s = "abc"
print(s[::-1])

# Reversing list
l = ["a", "b", "c"]
l[::-1]

cba

['c', 'b', 'a']

In [60]:
x = tuple(['01010101010101010101010101010101'])

In [64]:
op = x[0][:5]
oper = x[0][5:11]
newval = x[0][11:]

In [67]:
newval

'101010101010101010101'

### 2. Python branching tricks

In [69]:
# Multiple predicates short-cut.
n = 100
print(1 < n < 20)

False

In [72]:
# For-else construct useful when searched for something and find it.
mylist = [1,2,3]
theflag = 4
for i in mylist:
    if i == theflag:
        break
    print(i)
else:
#     raise ValueError("List argument missing terminal flag.")
    print("List argument missing terminal flag.")

1
2
3
List argument missing terminal flag.

In [73]:
# Ternary operator.
condition = True
"Python ROCK" if condition else " I AM GRUMPY"

'Python ROCK'

In [75]:
# Try-catch-else construct.
try:
#     foo() 
    print(0)
except Exception: 
    print("Exception occured")
else:
    print("Exception didnt occur")
finally:
    print("Always gets here")

0
Exception didnt occur
Always gets here

In [77]:
# While-else construct.
i = -1

while i > 1:
    print("Whil-ing away!")
    i -= 1
    if i == 3:
        break
else:
    print("Finished up!")

Finished up!